input {
    filr {
        path => "/Users/Oliver/OneDrive - Queensland University of Technology/EGH400-1/Test_data/cars.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}

filter {
    csv {
        separator => ","
        columns => [ "maker", "model", "mileage", "manufacture_year", "engine_displavement", 
        "engine_power", "body_type", "color_slug", "stk_year", "transmission", "door_count", 
        "seat_count", "flue_type", "data_created", "data_lest_seen", "price_eur" ]
    }
    mutate {convert => ["mileage","integer"]}
    mutate {convert => ["price_eur","float"]}
    mutate {convert => ["engine_power","integer"]}
    mutate {convert => ["door_count","integer"]}
    mutate {convert => ["seat_count","integer"]}
}

output {
    elasticsearch {
        hosts => "localhost"
        index => "cars"
        document_type => "sold_cars"
    }
    stdout {}
}